<h1>User Breakdown: {{User}}</h1><br/>
<div class="page-analytics">
  <h1>Analytics</h1>
  <br/>
  <div class="page-analytics-data">
    <span>Top words:</span>
    <span *ngFor="#word of UserData.topWords()">
      {{word.key}}: {{word.val}},
    </span>
    <hr/>
    <span>Unique words used: {{UserData.uniqueWords()}}</span>
  </div>
  <br/>
  <div class="page-analytics-data">
    <span>Comment Rate: {{UserData.commentRate()}} comments per day</span>
    <hr />
    <span>Average Comment Score: {{UserData.averageCommentScore()}}</span>
  </div>
  <br/>
  <div class="page-analytics-data">
    <span>Favorite Subreddits:</span>
    <span *ngFor="#sub of UserData.topSubs()">
      <a href="{{sub.key}}">{{sub.key}}</a>
    </span>
  </div>
</div>
<div class="page-posts-container">
  <h1>Comments</h1>
  <br/>
  <div class="page-posts">
    <div *ngFor="#comment of UserData.comments()">
      <a href="{{comment.data.link_url}}" target="_blank">{{comment.data.link_title}}</a>
      <br/>
      {{comment.data.body}}
      <hr/>
    </div>
  </div>
</div>
